<!-- Dynamic Navbar -->
<nav class="navbar navbar-expand-lg bsb-navbar bsb-navbar-hover bsb-navbar-caret">
    <div class="container">
        <!-- Dynamic Logo -->
        <a class="navbar-brand" href="{% url 'index' %}">
            <img src="{{ logo.image.url }}" alt="{{ logo.alt_text }}" style="width: clamp(8.3125rem, 8.008928571428571rem + 1.5178571428571428vw, 9.375rem);" />
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="#ffffff" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
            </svg>
        </button>

        <div class="offcanvas offcanvas-end" style="background: #231f20;" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title text-white" id="offcanvasNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-center flex-grow-1 gap-xl-4">
                    <!-- Dynamic Navbar Items -->
                    {% for item in navbar_items %}
                        {% if item.is_dropdown %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown{{ forloop.counter }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ item.title }}</a>
                                <ul class="dropdown-menu border-0 shadow-sm megamenu" aria-labelledby="navbarDropdown{{ forloop.counter }}">
                                    {% for dropdown_item in item.dropdown_items.all %}
                                        <li><a class="dropdown-item" href="{{ dropdown_item.link }}">{{ dropdown_item.title }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" href="{{ item.link }}">{{ item.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- Dynamic Repair Service Section -->
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="repairDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Repair Service</a>
    <ul class="dropdown-menu border-0 shadow-sm megamenu" aria-labelledby="repairDropdown" style="width: 100%;">
        <div class="row">
            <div class="col-12">
                <div class="repair-service-description">
                    <img class="nav-repair-icon" src="{% static 'images/repair-tools-svgrepo-com.svg' %}" alt="Repair Tools">
                    <h5>What can we fix for you?</h5>
                    <p class="pt-3">Select the device that needs fixing, and let our certified technicians handle the rest.</p>
                </div>
            </div>
            <!-- Scrollable Repair Service Items -->
            <div class="col-12 repair-service-items" style="max-height: 400px; overflow-y: auto;">
                {% for service in repair_services %}
                    <a class="dropdown-item text-center" href="{{ service.link }}">
                        <div class="pt-3 border rounded-2 text-dark nav-c-card">
                            <img class="dropdown-categories-img" src="{{ service.image.url }}" alt="{{ service.title }}">
                            <p class="nav-c-text">{{ service.title }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </ul>
</li>


                    
                    
                </ul>

                <!-- Call Now Button -->
                <li class="nav-item book-li ms-auto">
                    <a class="nav-link text-nowrap text-center book-repair-btn" href="">CALL NOW</a>
                </li>
            </div>
        </div>
    </div>
</nav>